{% extends 'core/base.html' %}
{% load static %}
{% block title %}Página Oficial{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 mt-3">
        <h3>VIDA SIN CAER</h3>
        <p>Si buscamos una descripción en pocas palabras sobre qué es programar, encontraríamos frases como: «crear software usando un lenguaje de programación»,  «darle instrucciones al ordenador» o «enseñarle al ordenador a hacer algo».

        Este es un curso práctico y creemos que es mejor que vayas descubriendo en qué consiste programar, realizando precisamente esa actividad. En esta sección de introducción hablaremos de forma breve sobre algunos conceptos esenciales, algo así como el «abc» que nos permita comenzar a andar.</p>
      <div style="padding-top:50px; text-align:center;">
              <P CLASS="lead">ESCRITO POR OSORIO</P>
      </div>
    </div>
  </div>
</main>
{% endblock %}