{% extends 'core/base.html' %}
{% load static %}
{% block title %}Desarollo Robotica{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <img src="{% static 'core/img/placeholder.png' %}" class="img-fluid"/>
      </div>
      <div class="col-md-6 mt-3">
        <h3>Lenguajes del Robot</h3>
        <p>La sintaxis de estos lenguajes de programación es bastante más simple que nuestros idiomas y utilizan un vocabulario y un conjunto de reglas mucho más reducido. Eso sí, son muy estrictas y debemos seguirlas a rajatabla para que el ordenador pueda interpretarlas sin que produzca un error.

            En resumen, estos programas son un conjunto de sentencias escritas en un lenguaje de programación que le dicen al ordenador qué tareas debe realizar y en qué orden, a través de una serie de instrucciones que detallan completamente ese proceso sin ambigüedad.</p>
          <div style="padding-top:50px; text-align:center;">
              <P CLASS="lead">ESCRITO POR OSORIO</P>
      </div>
    </div>
  </div>
</main>
{% endblock %}