{% extends 'core/base.html' %}
{% load static %}
{% block title %}Diseño{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
      </div>
      <div class="col-md-6 mt-3">
        <h3>DISEÑO WEB</h3>
        <p>La programación informática es el proceso por medio del cual se diseña, codifica,
            limpia y protege el código fuente de programas computacionales. ... El objetivo de la programación es la de crear software, que después será ejecutado de manera directa por el hardware de la computadora,
            o a través de otro programa.</p>
          <div style="padding-top:50px; text-align:center;">
              <P CLASS="lead">ESCRITO POR OSORIO</P>
      </div>
    </div>
  </div>
</main>
{% endblock %}