{% extends 'core/base.html' %}
{% load static %}
{% block title %}MI Meta{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>WEB DE REDES Y TIC</h1>
      <div style="padding-top:50px; text-align:center;">
          <h1>Propiedad De Programadores</h1>
    <p class="lead">La programación es el proceso utilizado para idear y ordenar las acciones necesarias para realizar un proyecto, preparar ciertas máquinas o aparatos para que empiecen a funcionar en el momento y
        en la forma deseados o elaborar programas para su empleo en computadoras.</p>
          <div style="padding-top:50px; text-align:center;">
              <P CLASS="lead">ESCRITO POR OSORIO</P>
  </div>
</div>
{% endblock %}